{% macro products(name, classes, products)%}

    <section class="shop {{classes}}"> 
        {% if name %}
            <h2>{{name}}</h2>
        {% endif %}   
        <div class="items">
            {% for product in products %}
                <div class="product">
                    <div class="image" style="background-image: url('{% if product.img %}{{product.img}}{% else %}https://via.placeholder.com/500x360.png?text=Produto+sem+foto{% endif %}')">
                    </div>
                        {% if product.formattedOld_price != product.formattedPrice %}
                            <div class="old-price">
                                {{product.formattedOld_price}}
                            </div>
                        {% endif %}
                        <p>{{product.formattedPrice}}</p>
                        <h4>{{product.name}}</h4>
                        <a href="/products/{{product.id}}" class="button">Ver produto</a>
                    
                </div> <!-- Items -->
            {% endfor %}
        </div> <!-- Items -->
    </section>
{%endmacro%}